@import "tailwindcss";

:root {
  --background: #F2F2F2;
  --secondary: #e2ddd4;
  --accent: #95A3BF;
  --foreground: #84754e;
  --border: #bebebe;
  --menu-bg: #e2ddd4;
  --menu-text: #84754e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-lato);
  --color-menu-bg: var(--menu-bg);
  --color-menu-text: var(--menu-text);
}

/* Dark mode styles */
[data-theme="dark"] {
  --foreground: #f0ece6;
  --background: #4a453b;
  --secondary: #a89c76;
  --accent: #2f2b24;
  --border: #E5E0DD;
  --menu-bg: #2f2b24;
  --menu-text: #f0ece6;
}

/* System preference dark mode */
/* @media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background: #84754e;
    --foreground: #f9f6f2;
    --accent: #003B4A;
    --secondary: #E5E0DD;
    --border: #E5E0DD;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.link {
  text-align: center;
  color: var(--menu-text);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.link-border {
  background: var(--menu-bg);
  color: var(--menu-text);
  border-bottom: 1px solid var(--border);
}

.link:hover {
  opacity: 0.8;
  background: var(--menu-text);
  color: var(--menu-bg);
}


.link-dark {
  text-align: center;
  color: var(--menu-bg);
  transition: all 0.3s ease;
}

.link-dark:hover {
  opacity: 0.8;
  /* background: var(--menu-bg); */
  color: var(--secondary);
}

